<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/nav.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/g/font-nanum@1.0(nanumbarungothic/nanumbarungothicultralight.css+nanumgothic/nanumgothic.css)" rel="stylesheet" type="text/css">
    <script src="/javascripts/initialize.js"></script>
  </head>
  <body>
  <div id="main">
  <nav>
      <div id="nav">
        <div style="display: inline" id="nav_image">
          <img id="nav_img" src="/images/logo_2.png" alt="AnA">
        </div>
        <div style="display: inline" id="nav_list">
          <ul>
            <li><a href="#" id="nav_a"><p>HOME</p></a></li>
            <li><a href="#" id="nav_b"><p>ABOUT</p></a></li>
            <li><a href="#" id="nav_c"><p>CONTACT</p></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <article>
      <div id="content_view">
        <!--main content-->
        <div>
        <div id="content_1"></div>
          <p>content_1</p>
          <a href="http://www.google.com" id="submit"><p>신청하기</p></a>
        </div>
        <div id="content_2">
          test content_2
        </div>
        <div id="content_3">
          test content_3
        </div>
        <!--content-->
      </div>
    </article>
  </div>
    <script src="/javascripts/initialize.js"></script>
    <script src="/javascripts/main.js"></script>
    <footer>
      <address> contact address <a href="mailto:real0131@gmail.com">real0131@gmail.com</a></address>
    </footer>
  </body>
</html>
