body {
  padding: 50px;
  font-family: 'Roboto','nanumbarungothicultralight' ,sans-serif;
  background-color: black;
  overflow: hidden;
}
#main{
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3%;
  width: 94%;
  height: 96%;
}
a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  width: auto;
  height: auto;
}
ul li{
  width: 120px;
}
nav {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 2;
}
img{
  vertical-align: middle;
}
#nav > div{
  float: left;
}
ul > li{
  display: inline;
}
div > ul{
  vertical-align: middle;
}
#nav_a{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
#nav_a:hover{
  color: white;
  transition-duration: 0.5s;
}
a#nav_a p{
  vertical-align: middle;
  text-align: center;
}
#nav_b{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
#nav_b:hover{
  color: #ffffff;
  transition-duration: 0.5s;
}
a#nav_b p{
  text-align: center;
}
#nav_c{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
a#nav_c p{
  vertical-align: middle;
  text-align: center;
}
#nav_c:hover{
  color: #ffffff;
  transition-duration: 0.5s;
}
#nav_img{
  margin-left: 100%;
  width: 214px;
  height: 60px;
  display: inline;
}
#nav_list{
  width: auto;
  height: auto;
  position: absolute;
  right: 15%;
}
#nav_list li{
  margin-right: 20px;
}
article{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
#content_view{
  padding-top: 15%;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}
#content_1{
  visibility: hidden;
  width: auto;
  height: auto;
}
#content_1_main{
  font-size:xx-large;
  margin-bottom: 2%;
}
#content_1_2_main{
  font-size: larger;
  margin-bottom: 2%;
}
#content_1_3_main{
  font-size:larger;
  margin-bottom: 10%;
}
p{
  color: white;
}
#submit{
  display: inline-block;
  width: 184px;
  height: 61px;
  color: white;
  vertical-align: middle;
  line-height: 300%;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}
#submit:hover{
  background-color: white;
  color: black;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
}
#content_2{
  visibility: visible;
  width: auto;
  height: auto;
}
#content_3{
  visibility: hidden;
  width: auto;
  height: auto;
}

