body {
  padding: 50px;
  font-family: 'Roboto','nanumbarungothic' ,sans-serif;
  background-color: black;
  overflow: hidden;
}
::selection {
  background:#99CC00;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background:#99CC00;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background:#99CC00;
  color: #FFF;
  text-shadow: none;
}
#background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: background 24s linear infinite;
}
@keyframes background {
  0% {
    transform: scale(1.3,1.3);}
  50%{
    transform: rotate(7deg) scale(1.1,1.1);
    background-image: url("/images/background_1.jpg");
  }

  100%{
    transform: rotate(-7deg) scale(1.3,1.3);
    background-image: url("/images/background_2.jpg");}

}
#main{
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3%;
  width: 94%;
  height: 96%;
}
a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  width: auto;
  height: auto;
}
ul li{
  width: 120px;
}
nav {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 2;
}
#nav{
  width: 80%;
  margin: 0 auto;
}
img{
  vertical-align: middle;
}
#nav > div{
  float: left;
}
ul > li{
  display: inline;
}
div > ul{
  vertical-align: middle;
}
#nav_a{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
#nav_a:hover{
  color: white;
  transition-duration: 0.5s;
}
a#nav_a p{
  vertical-align: middle;
  text-align: center;
}
#nav_b{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
#nav_b:hover{
  color: #ffffff;
  transition-duration: 0.5s;
}
a#nav_b p{
  text-align: center;
}
#nav_c{
  display: inline-block;
  width: 60px;
  height: auto;
  color: #505050;
  transition-duration: 0.5s;
}
a#nav_c p{
  vertical-align: middle;
  text-align: center;
}
#nav_c:hover{
  color: #ffffff;
  transition-duration: 0.5s;
}
#nav_img{
  width: 214px;
  height: 60px;
  display: inline;
  float: left;
}
#nav_list{
  width: auto;
  height: auto;
  position: absolute;
  right: 15%;
  float: right;
}
#nav_list li{
  margin-right: 20px;
}
article{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
#content_view{
  position: relative;
  top:30%;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}
#content_1{
  display: inline-block;
  width: auto;
  height: auto;
  animation-name: content_1;
  animation-duration: 0.5s;
}
@keyframes content_1 {
  0% {opacity: 0; transform: scale(1.5,1.5);}
  100%{opacity: 1; transform: scale(1.1);}
}
#content_1_main{
  visibility: inherit;
  font-size:xx-large;
  margin-bottom: 20%;
}
#content_1_2_main{
  visibility: inherit;
  font-size: larger;
  margin-bottom: 5%;
}
#content_1_3_main{
  visibility: inherit;
  font-size:larger;
  margin-bottom: 40%;
}
p{
  color: white;
}
#submit{
  visibility: inherit;
  display: inline-block;
  width: 184px;
  height: 61px;
  color: white;
  vertical-align: middle;
  line-height: 300%;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}
#submit:hover{
  background-color: white;
  color: black;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
}
#content_2{
  position: relative;
  top: -10%;
  display: none;
  width: 80%;
  height: 80%;
  overflow: auto;
  animation-name: content_1;
  animation-duration: 0.5s;
}
#about{
  margin-bottom: 20%;
  text-align: left;

}
#curriculum{
  display: inline-block;
  text-align: left;
}
#prize{
  text-align: left;
  color: white;
}
#prize_title{
  font-size:xx-large;
}
#pri_2014{
  font-size:x-large;
}
#pri_2015{
  font-size:x-large;
}
#content_3{
  display: none;
  width: auto;
  height: auto;
  animation-name: content_1;
  animation-duration: 0.5s;
}
#phone{
  width: 64px;
  height: 64px;
}
#email{
  width: 64px;
  height: 64px;
}
#site{
  margin-top: 10%;
}
#facebook{
  width: 64px;
  height: 64px;
}
#blog{
  width: 64px;
  height: 64px;
}
#footer{
  margin-top: 20%;
  text-align: left;
  width: auto;
  display: inline-block;
}
#footer_logo{
  width:214px ;
  height: 60px;
}
#footer > div{
  display: inline-block;
  float: left;
}
#copyright{
  position: relative;
  left: 2%;
}
#copyright > p{
  margin: 0;
}
#footer_cc > a{
  font-size: medium;
}

